<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<section class="border-red-500 bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="bg-gray-100 p-5 flex rounded-2xl shadow-lg max-w-4xl">
        <div class="w-full sm:w-full px-5">
            <h2 class="text-2xl font-bold text-[#002D74]">Login</h2>
            <form id="loginForm" class="mt-6" action="#" method="POST">
                <div>
                    <label class="block text-gray-700">Email Address</label>
                    <label>
                        <input type="email" name="" id="email" placeholder="Enter Email Address" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete required>
                    </label>
                </div>
                <div class="mt-4">
                    <label class="block text-gray-700">Password</label>
                    <label>
                        <input type="password" name="" id="password" placeholder="Enter Password" minlength="6" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                      focus:bg-white focus:outline-none" required>
                    </label>
                </div>
                <div class="text-right mt-2">
                    <a href="#" class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">Forgot Password?</a>
                </div>
                <button type="submit" class="w-full block bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg
                px-4 py-3 mt-6">Log In</button>
            </form>
            <div class="mt-7 grid grid-cols-3 items-center text-gray-500">
                <hr class="border-gray-500" />
                <p class="text-center text-sm">OR</p>
                <hr class="border-gray-500" />
            </div>
            <button class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm hover:scale-105 duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                <span class = "ml-4">Login with Google</span>
            </button>
            <div class="text-sm flex justify-between items-center mt-3">
                <p>If you don't have an account...</p>
                <button class="py-2 px-5 ml-3 bg-white border rounded-xl hover:scale-110 duration-300 border-blue-400">Register</button>
            </div>
        </div>
        <div class="w-full sm:block hidden">
            <img src="/images/backgrounds/a6e57c32cb421a5b14b364298724df0a.jpg" class="rounded-2xl h-full" alt="page img">
        </div>
    </div>
</section>
<script src="/libs/tailwind/tailwindcss.js"></script>
<script src="/libs/axios/axios.min.js"></script>
<script type="text/javascript">
  const loginForm = document.querySelector('#loginForm')

  loginForm.addEventListener('submit', function (e) {
    e.preventDefault()
    const email = document.querySelector('#email').value
    const password = document.querySelector('#password').value
    const errorLogin = document.querySelector('.error-login')

    axios.post('/api/auth/login', { email, password })
      .then(response => {
        console.log(
          '%c Hello, Everyone!',
          'padding: 15px; background-color: #2ecc71; color: black'
        );
        if (response.data.code === 200) {
          localStorage.setItem('auth', JSON.stringify(response.data))
          window.location = '/'
        } else {
          errorLogin.classList.remove('hidden');
          errorLogin.innerHTML = response.data.message
        }
      })
  })
</script>
</body>
</html>
